/* ------- *
 *  ABOUT  *
 * ------- */

.hero img {
  border-radius: 2px;
  margin-bottom: 1em;
}

.about-img {
  margin-bottom: .5em;
  border-radius: 2px;
}

.about-img:last-child {
  margin-bottom: 0;
}
