/* ------------------ *
 *      Archives      *
 * ------------------ */

.archive {
  margin-top: -1em;
}

.archive__year {
  font-family: $headline;
  font-weight: bold;
  margin-top: .5em;
  display: inline-block;
  font-size: 1.25em;
  color: $highlight
}

.archive__month {
  color: gray;
  font-family: $headline;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: .25em;
  border-bottom: 2px solid $secondary;
}

.archive__link a{
  display: inline-block;
  padding: .5em .25em;
  color: $base;
  border-radius: 2px;
  width: 100%;
  text-transform: capitalize;
}
