/* ------------------ *
 *   ENTRY (ARTICLE)  *
 * ------------------ */

article {
  margin: 0 auto 3em;
  width: 100%;
}

.entry__header {
  margin:0 auto 1em;
  //@extend %clearfix;
}

.entry__title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: .5em;
}

.entry__title a {
  color: $base;
  border-bottom: 2px solid $highlight;
}

.entry__title a:hover {
  color: lighten($base, 20%);
}

.entry__date {
  font-family: $headline;
}

















.entry__content {
}

.entry__content p {
  margin: 0 auto 1em;
  line-height: 1.45;
}

article img {
  margin-bottom: 1em;
}













.entry__meta {
}

.entry__categories {
  font-family: $headline;
}

.categories {
  margin-bottom: 1em;
}

.entry__categories li {
  display: inline-block;
  margin-bottom: .35em;
}

.entry__categories a {
  font-size: .8em;
  display: inline-block;
  background: $tertiary;
  color: gray;
  padding: .5em;
  border-radius: 2px;
}

.entry__categories a:hover {
  color: white;
  background: $base;
}
