/* ------- *
 *   FAQ   *
 * ------- */

 .faq__header {
   margin-bottom: 1.5em;
 }

 .faq__question {
   font-family: $headline;
   font-weight: bold;
   margin-bottom: 1em;
 }

 .faq__question p:first-child:before {
   content: "Q:";
   background: darken($secondary,25%);
   color: white;
   border-radius: 2px;
   padding: .1em .25em;
   margin-right: .25em;
   width: 2.5em;
 }

.faq__answer {
  margin: 0 auto 2em;
}

.faq__answer:last-child {
  margin-bottom: 0;
}

.faq__answer p:first-child:before {
  content: "A:";
  background: $highlight;
  color: white;
  border-radius: 2px;
  padding: .1em .25em;
  margin-right: .5em;
}

//FAQ Sidebar
.sidebar--faq {
  margin-top: 0!important;
}
