/* ------- *
 *  FOOTER  *
 * ------- */

.site-footer {
  background: $base;
  height: 140px;
  position: relative;
}

.site-footer__colophon {
  padding-top: 3em;
  @include bp(medium) {
    padding-top: 2.5em;
  }
}
.site-footer__colophon p {
  line-height: 1.45;
  font-family: $headline;
  color: darken($secondary,50%);
  text-align: center;
  margin-bottom: 0;
}
