/* ------- *
 *  FOOTER  *
 * ------- */

.site-footer {
  background: $base;
  height: 140px;
  position: relative;
}

.site-footer__colophon {
padding-top: 2.75em;
}
.site-footer__colophon p {
  font-family: $headline;
  color: darken($secondary,50%);
  text-align: center;
  margin-bottom: 0;
}

.site-footer__colophon p:first-child {
  margin-bottom: .5em;
}
