/* ------- *
 *   MENU  *
 * ------- */

.site-logo {
  float: left;
  display: block;
  text-indent: -9999px;
  height: 18px;
  width: 28px;
  background: url('../img/logo.svg');
  background-size: cover;
  background-position: center center;
  margin: 21px 0 0 2em;
  opacity: 1;
}

.no-svg .site-logo {
  background: url('../img/logo.png');
}

.site-header {
  border-bottom: 2px solid $secondary;
  line-height: 60px;
  font-size: 14px;
  background: white;
  background: rgba(255,255,255, .97);
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  max-height: 62px;
}

.site-header__nav {
  min-height: 60px;
  max-height: 0;
  margin: 60px auto 0;
  @include bp(medium) {
    margin: 0 auto;
    height: 60px;
  }
}

.js .site-header__nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.site-header__nav ul {
  list-style: none;
  @include bp(medium) {
    float: right;
    margin-right: 2em;
  }
}

.site-header__nav ul li {
  letter-spacing: 2px;
  font-family: $headline;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  margin: 0;
  border-top: 2px solid $secondary;
  @include bp(medium) {
    display: inline-block;
    border: none;
    margin-left: 2em;
  }
}

.site-header__nav ul li a {
  height: 60px;
  color: $base;
  padding-bottom: 3px;
  display: block;
}

.site-header__nav ul li a:hover {
  color: #222;
  background: $secondary;
  @include bp(medium) {
    background: none;
    color: $highlight;
  }
}


.site-header__nav ul li a[title="photo"]:hover {
  //color: white;
}

.site-header__nav ul li a[title="photo"]:after {

}




.nav-toggle {
  color: $base;
  text-transform: uppercase;
  float: right;
  padding-right: .75em;
  font-family: 'icons';
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  right: 0;
}

.site-header__nav.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.js .site-header {
  max-height: none;
}

@include bp(medium) {
  .js .site-header__nav {
    position: relative;
  }
  .js .site-header__nav.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
