/* ------------------ *
 *      PAGE-NAV      *
 * ------------------ */

.page-nav {
  width: 100%;
  @extend %clearfix;
  border-top: 2px solid $secondary;
}

.btn-pagination {
  color: gray;
  background: $tertiary;
  font-family: $headline;
  padding: 1em;
  text-align: center;
}

.btn-pagination:hover {
  color: white;
  background: $highlight;
}

.btn-pagination--prev {
  width: 50%;
  float: right;
  border-left: 2px solid $secondary;
}

.btn-pagination--next {
  width: 50%;
  float: left;
  border-right: 2px solid $secondary;
}

.page-nav a:nth-child(2) {
  border-right: 0;
}
