/* ------------------ *
 *        POSTS       *
 * ------------------ */

article {
  margin: 0 auto 3em;
  width: 100%;
  @extend %clearfix;
}

article:last-child {
  margin-bottom: 0;
}

article p:last-child, article img:last-child  {
  margin-bottom: 0;
}

.post__header {
  margin:0 auto 1em;
}

.post__title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: .5em;
}

.post__title a, .touch .post__title a:hover {
  color: $base;
  border-bottom: 2px solid $highlight;
}

.post__title a:hover {
  color: lighten($base, 20%);
}

.post__date {
  font-family: $headline;
}

.post__content {
  margin-bottom: 1em;
  @extend %clearfix;
}

.post__content p {
  margin: 0 auto 1em;
  line-height: 1.45;
}

article img {
  margin-bottom: .5em;
  @include span-columns(12);
}

.post-categories {
  font-family: $headline;
}

.categories {
  margin-bottom: 1em;
}

.post-categories li {
  display: inline-block;
  margin-bottom: .35em;
}

.post-categories a, .touch .post-categories a:hover {
  font-size: .8em;
  display: inline-block;
  background: $tertiary;
  color: gray;
  padding: .5em;
  border-radius: 2px;
  text-transform: lowercase;
}

.post-categories a:hover {
  color: white;
  background: $base;
}
