/* ------------------ *
 *      SEARCH       *
 * ------------------ */

//Serch Results Page
.site-header__nav ul li a[title="search"]{
  display: none;
  @include bp(medium) {
  display: block;
  margin: 0 1em;
  font-family: "icons";
  visibility: hidden;
  width: 0px;
  margin-left: 0em;
  }
}

.site-header__nav ul li a[title="search"]:after {
    display: none;
  @include bp(medium) {
    display: block;
    cursor: pointer;
    font-size: .85em;
    visibility: visible;
  	position: fixed;
  	top: 0;
    content: "\e601";
    width: 1em;
  }
}

.open .site-header__nav ul li a[title="search"]:after {
  content: "X";
  font-weight: bold;
  font-family: $headline;
  font-size: 1.25em;
  color: darken($secondary, 10%);
}

.open .site-header__nav ul li a[title="search"]:hover:after {
  color: $highlight;
}

//Search Form
.search-form {
  visibility: visible;
  opacity: 1;
  text-align: center;
  @include bp(medium) {
  background: none;
  visibility: hidden;
  position: fixed;
  right: 4em;
  width: 0px;
  opacity: 0;
  }
}

.open .search-form {
  @include bp(medium) {
    opacity: 1;
    width: 23em;
    visibility: visible;
  }
}

.search-from__submit {
  display: block;
  @include bp(medium) {
    display: none;
  }
}

.search-from__submit, .touch .search-from__submit:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: white;
  border: 2px solid $secondary;
  width: 80px;
  padding: .48em;
  cursor: pointer;
  color: gray;
  border-radius: 2px;
  font-family: $headline;
  position: relative;
  font-size: 1em;
  display: inline-block;
  text-transform: uppercase;
  @include bp(medium) {
    display: none;
  }
}

.search-form .search-form__field {
  width: 50%;
  padding: .5em .75em;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  background: white;
  border-radius: 2px;;
  border: 2px solid $secondary;
  font-size: 1em;
  font-family: $headline;
  @include bp(medium) {
    width: 100%;
    padding: .5em .75em;
  }
}
