/* ------------------ *
 *      SEARCH       *
 * ------------------ */

//Serch Results Page

.site-header__nav ul li a[title="search"]{
  display: none;
  @include bp(medium) {
  display: block;
  margin: 0 1em;
  font-family: "icons";
  position: relative;
  visibility: hidden;
  width: 1em;
  }
}

.site-header__nav ul li a[title="search"]:after {
  @include bp(medium) {
    cursor: pointer;
    font-size: .85em;
    visibility: visible;
  	position: absolute;
  	top: 0;
  	left: -1em;
    content: "\e601";
  }
}

//Search Form
.search-form {
  text-align: center;
  @include bp(medium) {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
}

.search-form--fullscreen {
  background: $base;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.search-from__submit {
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: none;
  border: 2px solid $secondary;
  width: 80px;
  padding: .75em;
  cursor: pointer;
  color: gray;
  border-radius: 2px;
  @include bp(medium) {
    display: none;
  }
}

.search-from__submit:hover {
  background: $secondary;
  color: $base;
}

.search-form .search-form__field {
  padding: .75em;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  background: none;
  border-radius: 2px;;
  border: 2px solid $secondary;
  @include bp(medium) {
    width: 100%;
    color: $highlight;
    font-family: $headline;
    font-size: 2em;
    letter-spacing: 2px;
    padding-bottom: .15em;
    border: 2px solid darken($base, 5%);
    border-radius: 2px;
    padding: .25em;
  }
}

//Desktop Version
.search-form__close {
  display: none;
  @include bp(medium) {
    color: darken($base, 5%);
    font-size: 1.75em;
    font-weight: normal;
    font-family: $headline;
    display: inline-block;
    position: fixed;
    cursor: pointer;
    top: 1em;
    right: 1em;
    border: 2px solid darken($base, 5%);
    border-radius: 2px;
    line-height: 1;
    padding: .5em  .75em;
  }
}

.search-form__close:hover {
  @include bp(medium) {
    background: $highlight;
    color: $base;
    border: 2px solid $highlight;
  }
}

.search-form__prompt {
  display: none;
  @include bp(medium) {
    text-align: left;
    color: darken($base, 10%);
    font-size: 1.25em;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: $headline;
    display: block;
  }
}

.search-form__inner {
  @include bp(medium) {
    display: inline-block;
    position : absolute;
    width: 600px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -300px; /* half of the width  */
    margin-top: -50px; /* half of the height */
  }
}
