/* ------------------ *
 *      SIDEBAR       *
 * ------------------ */

.sidebar {
  height: 200px;
  //background: gray;
  margin-bottom: 2em;
  position: relative;
  @include bp(medium) {
    position: fixed;
    width: 29.40392%;
    max-width: 282px;
  }
}
