/* ------- *
 *  Yarpp  *
 * ------- */

.yarpp-related h3 {
  text-transform: uppercase;
}

.yarpp-thumbnails-horizontal {

}

.yarpp-thumbnail {
  border: 0!important;
}

.yarpp-thumbnail img{
  width: 100%;
}

.yarpp-thumbnail-title {

}
