//Animations

header a {
  transition: all .1s ease-in-out;
}

p a, .sidebar__social a, .btn, .btn--sidebar, .form input, .comment-respond input, .comment-respond a{
  transition: all .1s ease-in-out;
}

.search-form  {
  @include bp(medium) {
    transition: all 0.4s ease;
  }
}

.container {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.loaded .container {
  opacity: 1;
}

//Preloader animation
.preloader path,
.preloader rect{
  fill: $highlight;
}

.preloader {
  display: inline-block;
  text-align: center;
  position: fixed;
  width: 600px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -300px; /* half of the width  */
  margin-top: -10px; /* half of the height */
  //opacity: 1;
}

.loaded .preloader {
  //display: none;
  opacity: 0;
  visibility: hidden;
}

.no-svg .preloader {
  display: none;
}
