//Animations

header a {
  transition: all .1s ease-in-out;
}

article a, .main a, .entry__content p a, .page-nav a, .sidebar__social a, .btn, .btn--sidebar, .form input, .comment-respond input, .comment-respond a, .site-header__nav ul li a[title="photo"]:after {
  transition: all .1s ease-in-out;
}

.search-form  {
  @include bp(medium) {
    transition: all 0.4s ease;
  }
}

.container {
   opacity: 0;
   transition: opacity .2s ease-in;
}

.loaded .container {
  opacity: 1;
}
