/* ------- *
 *  LINKS  *
 * ------- */
a {
  text-decoration: none;
}

.entry__content p a, .page__content p a, .comment-body p a, .faq p a {
  color: $base;
  border-bottom: 2px solid $highlight;
}

.entry__content p a:hover, .page__content p a:hover, .comment-body p a:hover, .faq p a:hover {
  color: lighten($base, 20%);
}
