/* ------- *
 *   Main  *
 * ------- */

.container {
  max-width: $container;
  padding: 0 1.5em;
  margin: 5em auto 2em;
  @extend %clearfix;
}

.main {
  @include bp(medium) {
    margin-top: 0;
    @include span-columns(9);
  }
}

textarea:focus, input:focus{
  outline: 0;
}


.fixfixed .site-header__nav {
  position: absolute;
}
