/* ------- *
 *   Main  *
 * ------- */

.container {
  max-width: $container;
  padding: 0 1.5em;
  margin: 5em auto 2em;
  @extend %clearfix;
}

.main {
  //margin-top: 2em;
  @include bp(medium) {
    margin-top: 0;
    @include span-columns(9);
  }
}

textarea:focus, input:focus{
    outline: 0;
}
