/* ------- *
 *   Main  *
 * ------- */

body {

}

.container {
  max-width: $container;
  padding: 0 1em;
  margin: 100px auto 0;
  @extend %clearfix;
}

textarea:focus, input:focus{
    outline: 0;
}
