/* ---------- *
 *  Variables *
 * ---------- */

//Colors
$base: #333; // dark gray
$secondary: #e9e9e9; // light gray
$tertiary: #f4f4f4; // lighter gray
$highlight: #c7703f; // mustard yellow




//Container
$container: 850px;
