/* ---------- *
 *  Variables *
 * ---------- */

//Colors
$base: #444; // dark gray
$secondary: #e9e9e9; // light gray
$tertiary: #f4f4f4; // lighter gray
$highlight: #dde041;

//#e4e86d - Pea Yellow
//#B1CDD8 - Light Blue


//Container
$container: 960px;
